* {
  box-sizing: border-box;
  font-family: 'Poppins', serif;
  font-style: normal;
}

body {
  background: #e5e5e5;
  padding: 0;
}

header {
  border-bottom-left-radius: 5rem;
  background: #fff;
}

.container {
  height: 718px;
}

.px-5 {
  padding-left: 24px;
  padding-right: 24px;
}

.pt-5 {
  padding-top: 24px;
}

.pb-5 {
  padding-bottom: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

.d-flex {
  display: flex;
  flex-wrap: nowrap;
}

.row {
  width: 100%;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.align-baseline {
  align-items: baseline;
}

.flex-item {
  padding: 0.8em 0.8em 0.8em 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.headline {
  background-image: url("assets/images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.headline_title {

  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 0;
}

.headline_description {

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.headline_social-media .title {

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
}

.bars {
  width: 30px;
}

.bar {
  border: 2px solid #6070ff;
  margin-bottom: 3px;
}

.mt-5 {
  margin-top: 24px;
}
.mr-2{
  margin-right:10px ;
}
.p-5 {
  padding: 24px;
}

.card {
  border: 2px solid #d6d6d6;
  background: #fff;
  border-radius: 10px;

}

.w-100 {
  width: 100%;
}

.card-image {
}

.card-caption {
  font-weight: 700;
  font-size: 32px;
  color: #172B4D;
}

.card-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.badge {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  border-radius: 8px;
  background: #ebebff;
}
.info{
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}
.card-infos .company{
  color: #344563;
}
.round-ball{
  border-radius: 10px;
  width: 8px;
  height: 8px;
  background: #7a869a;
}

.btn-primary{
  background: #FFFFFF;
  border: 1px solid #7F8CFF;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070FF;
  padding: 10px;
}
.btn-primary:hover{
  background: #6070FF;
  box-shadow: 0px 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}
.btn-primary:active{
  background: #2230D2;
  border-radius: 8px;
  color: #fff;
}